h1 {
    color: blue;
    text-align: center;
    margin-top: 1cm;
  }
h2 {
    color:purple;
    text-align: center;
}
h3 {
    color:red;
    font-size: 10cm;
    text-align: center;
}
.kontejner {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.item {

}
body{
    background-color:yellowgreen;
}
